* {
     padding: 0;
     margin: 0;
}

body {
     background-color: #282A35;
     /* font-family: sans-serif; */
     font-family: cursive;
}

h1 {
     text-align: center;
     color: red;
     margin: 20px auto;
}

#userData {
     /* border: 1px solid red; */
     height: auto;
     text-align: center;
     margin: 20px auto;
     margin: 10px;

}

#userData>input {

     height: 40px;
     width: 300px;
     border: 1px solid white;
     border-radius: 10px;
     padding: 8px;
     font-size: 20px;
     background-color: transparent;
     color: yellow;

}

h2 {
     color: aquamarine;
}

::placeholder {

     font-size: 18px;

}


#main {
     display: grid;
     width: 70%;
     grid-template-columns: repeat(2, 1fr);
     gap: 10px;
     justify-content: space-evenly;
     padding: 10px;
     margin: 50px auto;
     /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */

}

#poster {
     margin: 5px auto;
     /* border: 2px solid aqua; */
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#box {
     font-size: 18px;
     /* border: 1px solid red; */
     text-align: start;
     padding: 15px;
     margin: 25px auto;
     color: white;

}

h2 {
     color: red;
}

p {
     padding: 8px;
     font-size: 20px;
     font-weight: 500;
}

.rating {
     color: goldenrod;
}
.rated{
     color: rgb(122, 17, 198);
}
.genre{
     color: green;
}

.actors{
     color: hotpink;
}
.year{
     color: yellow;
}
.director{
     color: orangered;
}